.main {
  //position: absolute !important;
  //top: 254px;
  //left: 165px;
  margin-top: 300px;
  max-width: 100%;
  min-height: 466px;
  border-radius: 37px;
  //background-color: #ffffff;
  //background-color: teal!important;
  //box-shadow: 0 16px 165px rgba(112, 144, 176, 0.2);
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  //padding: 65px 0 30px 0;

  &_Rev {
    @extend .main;
    left: auto;
    right: 133px;
    top: 100px;
    //padding: 100px 0 80px 0;
  }
}

.formWrapper {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vrfChar {
  width: 41px;
  height: 41px!important;
  display: block;
  margin: 0 7px;
  font-size: 24px;
  color: #298FFE;
  border: 1.5px solid #298FFE;
  border-radius: 10px;

  &_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  &_selected {
    border: 2px solid #155EAE!important;
    color: #155EAE!important;
  }

  &_inactive {
    background-color: rgba(195, 195, 195, 0.3);
    border: 1.5px solid #C3C3C3;
  }
}

.backArrow{
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}




//body {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  align-items: center;
//  height: 100vh;
//}
//h1 {
//  color: #292a2b;
//  font-family: sans-serif;
//  font-size: 1em;
//  margin-bottom: 1em;
//}
//input {
//  padding: 1em 0.5em;
//  width: 40%;
//  border-radius: 4px;
//  border: 1px solid #ed4a6b;
//  font-size: 1em;
//}
//
//input:focus {
//  outline: none;
//}

.verifyError{
  @extend .vrfChar;
  border: 1.5px solid #EB5757;
  color: #EB5757;
}


// Class to add when there is an error
.verifyShake {
  animation-name: shakeError;
  animation-fill-mode: forward;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

// Key frame for the shake error
// You can tweak the transforms to get any effect you want.
@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}

