.main {
  width: 100%;
  height: 1024px;
  position: relative;
  overflow-x: clip;
  //overflow: hidden;
  display: flex;
  justify-content: center;
  //background-color: yellow;
}

.desktopBC {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: -31px;
  right: -99px;

  &_Rev {
    @extend .desktopBC;
    transform: rotateY(180deg);
    left: auto;
    right: -99px;
  }
}

.burlyGreen {
  position: absolute;
  //width: 413px;
  //height: 413px;
  right: -360px;
  top: -280px;

  &_Rev {
    @extend .burlyGreen;
    right: auto;
    left: -360px;
  }
}

.burlyPink {
  position: absolute;
  width: 249px;
  height: 249px;
  right: 10px;
  top: 30px;

  &_Rev {
    @extend .burlyPink;
    right: auto;
    left: 10px;
  }
}

.burlyOrangeLight {
  position: absolute;
  width: 479px;
  height: 479px;
  right: -340px;
  top: 240px;

  &_Rev {
    @extend .burlyOrangeLight;
    right: auto;
    left: -340px;
  }
}

.curlyVec {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  top: 0;

  &_Rev {
    @extend .curlyVec;
    right: auto;
    left: 0;
    //transform: rotateY(180deg);
  }
}

.unlimitedText {
  //position: absolute;
  //top: 177px;
  //right: 149px;
  margin-top: 170px;
  font-size: 30px;
  font-family: "IRANSansX-DemiBold", serif !important;

  &_Rev {
    @extend .unlimitedText;
    right: auto;
    left: 149px;
  }
}

.guideLine {
  position: absolute !important;
  height: 50px;
  bottom: 20px;
  //left: 165px;

  //&_Rev {
  //  @extend .guideLine;
  //  left: auto;
  //  //right: 165px;
  //}
}

.tabletBurlyGreen {
  position: absolute;
  width: fit-content !important;
  height: fit-content !important;
  left: 319px;
  top: 0;
}

.tabletBurlyPink {
  position: absolute;
  width: fit-content !important;
  height: fit-content !important;
  left: 0;
  top: 171px;
}

.tabletBurlyOrangeLight {
  position: absolute;
  width: fit-content !important;
  height: fit-content !important;
  left: 173px;
  top: 278px;
}

.tablet3in1{
  //z-index: -5;
  width: 100%;
  height: auto;
  object-fit: cover;
}