.backArrow{
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
}

.enFont{
  font-family: "IRANSansX-DemiBold", serif;
}

.faFont{
  font-family: "IRANSansXFaNum-Regular", sans-serif;
}

.formWrapper {
  //width: 320px;
  //background-color: greenyellow;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vrfChar {
  width: 41px;
  height: 41px!important;
  display: block;
  margin: 0 7px;
  font-size: 24px;
  color: #298FFE;
  border: 1.5px solid #298FFE;
  border-radius: 10px;

  &_container {
    direction: rtl;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  &_selected {
    border: 2px solid #155EAE!important;
    color: #155EAE!important;
  }

  &_inactive {
    background-color: rgba(195, 195, 195, 0.3);
    border: 1.5px solid #C3C3C3;
  }
}


.verifyError{
  @extend .vrfChar;
  border: 1.5px solid #EB5757;
  color: #EB5757;
}


// Class to add when there is an error
.verifyShake {
  animation-name: shakeError;
  //animation-fill-mode: forward;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

// Key frame for the shake error
// You can tweak the transforms to get any effect you want.
@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}