* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "IRANSansXFaNum-Regular", sans-serif;
}

//html{
//  direction: rtl;
//}

//body{
//  direction: rtl;
//}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #606060 !important;
}

#root{
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "IRANSansXFaNum-Regular";
  src: local("IRANSansXFaNum-Regular"), url("../fonts/IRANSansXFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSansXFaNum-DemiBold";
  src: local("IRANSansXFaNum-DemiBold"), url("../fonts/IRANSansXFaNum-DemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSansXFaNum-Bold";
  src: local("IRANSansXFaNum-Bold"), url("../fonts/IRANSansXFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
}


@font-face {
  font-family: "IRANSansX-Regular";
  src: local("IRANSansX-Regular"), url("../fonts/IRANSansX-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSansX-DemiBold";
  src: local("IRANSansX-DemiBold"), url("../fonts/IRANSansX-DemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSansX-Bold";
  src: local("IRANSansX-Bold"), url("../fonts/IRANSansX-Bold.ttf") format("truetype");
  font-weight: 700;
}



.headerSlider {
  width: 100%;
  //height: 100%;
  //padding-top: 256px;
  position: relative;
}

.swiper-wrapper {
  animation-name: fadingEffect;
}

.mySwiper {
  width: 100%;
  height: 100%;
  //background-color: #ff4136;
  animation-name: fadingEffect;
}

.mySwiperCard {
  width: 100%;
  height: 250px;
  //background-color: #C3C3C3;
}

.swiper-slide {
  height: 100%;
  padding-bottom: 25px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  background: transparent;
  color: darkslategrey;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  animation-name: fadingEffect;
}

.swiper-slide-card {
  @extend .swiper-slide;
  padding: 0;
  //background-color: #EB5757;
  border-radius: 22px;
  //transform: scale(0)!important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-slide-card img {
  width: fit-content!important;
  height: fit-content!important;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet-active {
  width: 50px;
  border-radius: 22px;
}

.custom-swiper-next {
  @extend .swiper-button-next !optional
}

.custom-swiper-prev {
  @extend .swiper-button-prev !optional
}


.iphoneMockup {
  //max-width: fit-content!important;
  //max-height: fit-content!important;
  transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  //position: absolute;
  right: 80px;
  top: 0;

  &_Rev {
    @extend .iphoneMockup;
    right: auto;
    left: 80px;
  }
}

.cardGroup {
  //max-width: fit-content!important;
  //max-height: fit-content!important;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  position: absolute;
  right: -35px;
  top: 0;

  &_Rev {
    @extend .cardGroup;
    right: auto;
    left: -35px;
  }
}

.laptopMockup {
  //max-width: fit-content!important;
  //max-height: fit-content!important;
  transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  //position: absolute;
  right: 50px;
  top: 30px;

  &_Rev {
    @extend .laptopMockup;
    right: auto;
    left: 68px;
  }
}

.zimaCard {
  max-width: fit-content !important;
  max-height: fit-content !important;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  //position: absolute;
  right: -75px;
  top: 0;

  &_Rev {
    @extend .zimaCard;
    right: auto;
    left: -75px;
  }

}

.cardFeatures {
  max-width: fit-content !important;
  max-height: fit-content !important;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  position: absolute;
  top: 0;
  right: 248px;

  &_Rev {
    @extend .cardFeatures;
    right: auto;
    left: 248px;
  }
}

.transfer {
  max-width: fit-content !important;
  max-height: fit-content !important;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  position: absolute;
  top: 212px;
  right: -38px;

  &_Rev {
    @extend .transfer;
    right: auto;
    left: -38px;
  }
}

.deposit {
  max-width: fit-content !important;
  max-height: fit-content !important;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  position: absolute;
  top: 212px;
  right: 361px;

  &_Rev {
    @extend .deposit;
    right: auto;
    left: 361px;
  }
}


@keyframes fadingEffect {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 0.35;
  }
  34% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0.7;
  }
  83% {
    opacity: 0.35;
  }
  100% {
    opacity: 0;
  }
}

.legend-item.fade{
  text-decoration-line: line-through
}